* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(209, 209, 209);
}

header{
    padding: 2rem;
    justify-content:space-between;
    align-items: center;
    display: flex;
    background: linear-gradient(145deg, #50939d, #101cc6);
    width: 100%;
    height: fit-content;
}

header div a{
    align-items: left;
    text-decoration: none;
    color: white;
}

.imagecabecalho {
    height:10vh;
}